<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" charset="utf-8"></script>
    <script src="./js/app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <div class="content">
      <div class="icon">
        <img src="./IMGS/icon.jpg" alt="icon">
      </div>
      <div class="search">
        <p id="text">Search by anime genre</p>
        <form id="form">
          <input type="text" placeholder="Anime Genre">
          <input type="submit" value="Find Anime">
        </form>
      </div>
      <div class="display">
        test
      </div>
      <div class="scroll">

      </div>
    </div>
  </body>
</html>
