* {
  border: 1px solid gold;
  background-color: black;
  color: white;
}

img {
  width: 10vw;
  height: 15vh;
}

.info {
  background-color: blue;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  z-index: 1;
}

.search {
  display: grid;
  grid-template-columns: 30% auto auto;
  grid-template-rows: 30% auto auto;
}

#text {
  grid-column-start: 2;
  grid-row-start: 1;
}

#form {
  grid-column-start: 3;
  grid-row-start: 1;
}
