* {
  border: 1px solid gold;
  background-color: black;
  color: white;
}

.icon img {
  width: 10vw;
  height: 15vh;
}

p {
  border: 0px;
  margin: 0px;
}

.info {
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;
}

.search {
  display: grid;
  grid-template-columns: 40vw 200px auto;
  grid-template-rows: auto auto;
}

#text {
  grid-column-start: 2;
  grid-row-start: 1;
}

#form {
  grid-column-start: 3;
  grid-row-start: 1;
}
